#singleSMS { //
	border: #bec1fa solid 1px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

#groupSMS { //
	border: #bec1fa solid 1px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
.choices {
	border-radius: 5px;
	/* background-color: #f2f2f2; */
	padding: 40px;
	background: -webkit-linear-gradient(bottom, rgb(250,250,250), #EEEEEE 175px);
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin: auto;
	position: relative;
	
	border-radius: 10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	
}